<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1>Opciones</h1>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/registrar_paquete">Registrar paquete</a></li>
                            <li class="list-group-item"><a href="/seleccionar_sucursal_destino"">Salida de transporte</a></li>
                            <li class="list-group-item"><a href="/registrar_llegada">Llegada de transporte</a></li>
                            <li class="list-group-item"><a href="/">Cambiar sucursal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
